table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
  width: 95%;
  margin: auto;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.no-wraps {
  white-space: nowrap;
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  width: 95%;
  margin: auto;
}

.updated-info {
  text-align: right;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 20px;
  cursor: pointer;
}

.button:hover {
	background-color: #e8f25e; /* Yellow */
	color: #000000; /* Black */
}

label {
	font-size: 20px;
}

input, select {
	height: 30px
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu-item {
	flex: 1;
	border: 1px solid red;
	text-align: center;
	font-size: 36px;
}